* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'VT323', monospace;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.birb {
  height: 50px;
  width: 50px;
  background-color: transparent;
  /* border: solid 1px black; */
  position: absolute;
  z-index: 997;
  /* transition: 300ms;
    bottom: 300px; */
}

.grid {
  height: 640px;
  width: 480px;
  border: 1px solid black;
  position: relative;
  overflow: hidden;
  background-color: skyblue;
}

.platform {
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  height: 15px;
  bottom: 50px;
  border-top: 1px solid black;
  border-bottom: 3px solid green;
  background-color: lightgreen;

  background: repeating-linear-gradient(-45deg, lightgreen, lightgreen 20px, green 20px, green 25px);
  background-repeat: repeat-x;
  background-size: 960px 100%;
  }

  .platform-animation {
    animation-name: platform-move;
    animation-timing-function: linear;
    animation-duration: 1992ms;
    animation-iteration-count: infinite;
  }

  @keyframes platform-move {
    from {
      background-position: 0;
    }
    to {
      background-position: -249px;
    }
  }

.ground {
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;

  background-color: #FFBC54;

  -webkit-box-shadow: inset 0px 3px 0px 0px sandybrown; 
  box-shadow: inset 0px 3px 0px 0px sandybrown;
}

.towerBottom,
.towerTop {
  position: absolute;
  width: 100px;
  background-color: green;
  z-index: 100;
}

.towerBottom {
  bottom: 65px;
}

.towerTop {
  top: 0;
}

.intro-text {
  text-align: center;
  position: relative;
  z-index: 995;
  margin-top: 100px;
  font-family: 'VT323', monospace;
  font-size: 32px;
  animation-name: intro-text-animation;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
}

@keyframes intro-text-animation {
    0% { color: black;  }
    50% { color: grey; }
    100% { color: black; }
}

.onscreen-score {
    font-family: 'VT323', monospace;
    font-size: 80px;

    margin-top: 100px;
    position: relative;
    text-align: center;
    z-index: 999;

    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.black-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  transition: 100ms;
}

.scoreboard {
  padding: 1rem;
  font-size: 50px;
  position: absolute;
  z-index: 1000;

  top: 100px;
  left: 153px;

  background-color: lightgray;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restart-button {
  background-color: orange;
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  margin-top: 15px;
}

.restart-button:hover {
  color: white;
}

.visual-container {
  position: relative;
  height: 100%;
  width: 100%;
  /* background-color: blue; */
}

.wing {
  position: absolute;
  height: 60px;
  width: 30px;
  background: repeating-linear-gradient(
  0deg,
  orange,
  orange 30px,
  transparent 30px,
  transparent 60px
  );
  border-radius: 0 0 150px 150px;

  top: 0px;
  left: 5%;
}

.wing-animation {
  animation: flapping;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes flapping {
  0% { transform: rotateX(0.25turn); }
  25% { transform: skew(30deg) rotateX(0.5turn); }
  50% { transform: rotateX(0.25turn); }
  75% { transform: skew(-30deg) rotateX(0turn); }
  100% { transform: rotateX(0.25turn); }
}

.cloud-canvas {
  position: absolute;
  height: 50px;
  width: 100px;
  z-index: 0;
  /* background-color: black; */
}

.birb-canvas {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;

  /* background-color: white; */
}